.AppContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.dashboard {
  position: relative;
  display: grid;
  width: 100%;
  margin-left: 30px;
  height: 100vh;
  font-size: 24px;
  grid-column-gap: 35%;
  font-family: "Inter"; 
  padding: 0;
}
.swbutton {
  font-size: .9rem;
  font-weight: bold;
  padding: .5rem 1rem;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: flex; 
  align-items: center;
  color: #060E3B;
  text-decoration: none;
  
}
.Header-container{
  grid-area: 1 / -1 / 2 / 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 30px;

}
.dashboard-text {
  align-self: flex;
  color: #060E3B;
}
.Analytic-text{
  text-align: center;
  font-size: 40px;
  color: #060E3B;
}

.swbutton:hover {
  background-color: #f5f5f5; 
}  
.Carda-main {
  grid-area: 2 / 1 / 2 / 4;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem 3rem;
  margin: 0.5rem 0;
  background-color: #6ec6ad;
  border-radius: 20px;
  height: 300px;
  position: relative;
}
      .cart_main{
      height: 450px; 
      position: absolute;
      margin-top: -30px;
      top: 0;
      right: 0;
 }
      .item-list {
      list-style: none;
      padding: 0;
      color: #060E3B;
}
      .main-text {
      display: flex start;
      font-size: 1.3rem;
      color: #060E3B;
      margin-left: -7px; 
}
      .aitem {
      display: flex;
      flex-direction: row;
      padding: 15px;
      background-color: #67BBA3;
      margin: 16px;
      margin-left: -16px; 
      border-radius: 10px;
      height: 20px;
      width: 750px;

}

.aitemContainer{
  height: 250px;
  padding: 20px;
  overflow: auto;
 
 
}

.aitem-a{
  height: 20px;
  width: 375px
}
.aitem-q{
  width: 375px;
  text-align: right;
  height: 20px;

}
.InnerCarda_main {
  background-color: #f5f5f5;
  height: 20px;
  width: 500px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Cardb-main {
  grid-area: 3 / 1 / 3/ 4;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1rem;
  margin: 0.5rem 0 ;
  background-color: #F5F5F5;
  border-radius: 20px;
  height: 200px;
  width: 435px;
} 

.bitem {
  position: relative;
  padding: 10px;
  background-color: #ffffff;
  margin: 16px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  height: 20px;
  width: 350px;
  display: flex;
  flex-direction: row;  

}
.itemContainer{
  height: 185px;
  width: 435px;
  overflow: auto;
  position: relative;
}

.bitem-list {
    
  list-style: none;
  padding: 0;
  color: #060E3B;
}

.pname-div{
  display: flex;
 
  width: 250px;
  height: 30px;
}
.quanti-div{
  text-align: right;
  width: 100px;
  height: 30px;
}

.Cardc-main {
  grid-area: 3 / 2 / 3 / 4;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1rem;
  margin: 0.5rem 4rem;
  background-color: #FFD231;
  border-radius: 20px;
  height: 200px;
  width: 275px;
 
}

.cardt-text {
  display: flex;
  justify-content: center;

  text-align: center;
  font-size: 1.3rem;
  color: #060E3B;
}

.ca-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10rem;
  color: #ffffff;
}

.Cardd-main {
  grid-area: 3 / 3 / 3 / 4;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 1rem;
  margin: 0.5rem 0 ;
  background-color: #F6ABC0;
  border-radius: 20px;
  height: 200px;
  width: 275px;
}

@media only screen and (max-width: 768px) {
  .dashboard {
    display: block;
    margin-left: 0;
    grid-column-gap: 0;
  }
  
  .Header-container {
    font-size: 1rem;
  }
  
  .analytic-text {
    font-size: 30px;
  }
  
  .Carda-main {
    height: 50%;
  }
  
  .swbutton {
    width: 80%;
  }
  
  .bitem {
    width: 80%;
  }
  
  .Cardb-main {
    width: 80%;
  }
  
  .Cardc-main {
    width: 80%;
    margin: 0 auto;
  }
  
  .Cardd-main {
    width: 80%;
  }
}
  
.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 251, 251, 0.301);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContainer{
  position: relative;
    background-color: #E8E6FE;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter";

}